.counter-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 30px;
  background-color: #ffffff;
}


.counter-button {
    width: 180px;
    height: 80px;
    display: flex;
    align-items: center;
    background-color: rgb(130, 243, 222);
    color: rgb(16, 7, 45);
    justify-content: center;
    border-radius: 12px;
    font-size: 42px;
    border: none;
    cursor: pointer;

}

.counter-button:hover {
  background-color: rgb(135, 212, 198);

}

.counter-display {
    font-size: 24px;
    color: rgb(16, 7, 45);
    min-width: 40px;
    text-align: center;
}